@use "colors";

#BottomBar {
  width: 100%;
  padding-bottom: 3.5rem;
  padding-top: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;

  border-top: 1px solid #202020;
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-around;
  align-items: center;


  .nav-icon {
    padding: 0.5rem 2rem;
    display: grid;
    border-radius: 1rem;

    svg {
      place-self: center center;
    }

    &.selected {
      color: #f0f0f0;
      background: colors.$secondary-color;
    }
  }
}
