@use "./colors";
@use "./vars";

#ConfirmSignup {
  margin: vars.$side-margin;
  padding-bottom: vars.$bottom-padding;
  padding-top: 5rem;

  .app-logo {
    font-size: 4rem;
    margin-left: -2px;
  }

  #message {
    max-width: 75%;
    margin-bottom: 1rem;
  }

  #login-button {
    float: right;
  }
}
