@use "./colors";
@use "./vars";

#Saved {
  margin: vars.$side-margin;
  padding-bottom: vars.$bottom-padding;
  padding-top: 5rem;

  #tabs-bar {
    margin-top: 1rem;
  }

  #event-list {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
}
